@model AttachTelegramComponentVM
@if (Model?.IsAttachedTelegram == ArgusBot.BL.Services.IsAttachedTelegram.No)
{
    <div class="row mt-2">
        <a id="attach_btn" class="btn btn-secondary" asp-controller="Account" asp-action="InitiateAttachingTelegramAccount">Attach telegram account</a>
    </div>
}
@if (Model?.IsAttachedTelegram == ArgusBot.BL.Services.IsAttachedTelegram.InProgress)
{
<div class="row mt-2">
    <h3 class="mb-2">To attach a telegram account click authorization button/</h3>
    <script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="ArgusGroupChatBot" data-size="large" data-auth-url="@Model.RedirectUrl/Account/AttachTelegramAccount" data-request-access="write"></script>
</div>
}
