@model GroupListComponentViewModel
<div class="container">
    @if (Model.Groups != null && !Model.NeedToAttachTelegramAccount)
    {
        <h3 class="align-content-center">List of your groups</h3>
        <br>
        <ul class="list-group">
            @if (Model != null)
            {
                @foreach (var group in Model.Groups)
                {
                    <li class="list-group-item d-flex align-items-center">
                        <p class="mr-auto p-2">@group.Name</p>
                        <div class="d-flex p-2">
                            <div class="form-group">
                                <a href="@Url.ActionLink("Edit", "Home", new {group.Settings.GroupId})" class="btn btn-outline-primary  p-2 order-1">
                                    Settings
                                </a>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    }
    @if (Model.NeedToAttachTelegramAccount && Model.Groups != null)
    {
        <h3 class="text-danger">To see you groups attach your telegram account by button bellow.</h3>
    }
    @if (!Model.NeedToAttachTelegramAccount && Model.Groups == null)
    {
        <h3 class="text-info">You can see here your groups where you are admin.</h3>
    }
    @if (Model.NeedToAttachTelegramAccount && Model.Groups == null)
    {
        <h3 class="text-info">You can see groups where you are admin in telegram. To see that attach your account by button below.</h3>
    }
</div>
